@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.gradient:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(black, transparent);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.container {
  max-width: 1700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.text-stroke {
  -webkit-text-stroke: 1px white;
}
.coffeeText1 .char,
.coffeeText2 .char,
.coffeeText3 .char {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
}

.coffeeText1,
.coffeeText2,
.coffeeText3 {
  width: 100%;
}
.coffeeText1 .line,
.coffeeText2 .line,
.coffeeText3 .line {
  display: flex !important;
  justify-content: center;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
