@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #171717;
   --foreground: #ffffff;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}
.gradient:after {
   display: block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background: linear-gradient(black, transparent);
   width: 100%;
   height: 100vh;
   z-index: 1000;
}
@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.cover {
   --clip: 100%;
   clip-path: inset(0 0 var(--clip) 0);
}
